<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--脚本版本，修改脚本或样式时，相应修改此版本号-->
    <add key="CssVersion" value="2" />
    <add key="JsVersion" value="4" />
    <!---excel临时路径地址-->
    <add key="XlsDir" value="D:\\weblogs\\report.felink.com\\excel\\" />

    <add key="UserLoginUrl" value="http://54.251.159.201/usercenter-web/signin.html?siteid=2" />
    <add key="UserLoginAuthUrl" value="http://54.251.159.201/usercenter-web/api/user/auth?sid={0}&amp;ts={1}&amp;sign={2}" />

    <!--<add key="StatDB_MySQL_ConnString" value="F0513A20BB712A5A52F4ACE1003A7CD1B1A36F37DA03FF04CB7904DA9EBF793072306FF31FF6933883DF22839AF02F5D6BD701E408D104A2B00422EA41918941056A61AD19D43BA7FB06342120ECEC1B26B86303E621D86A"/>-->
    <add key="GetUserRightsJson_ClientIP" value="172.17.151.23,127.0.0.1" />
    <add key="StatDB_MySQL_ConnString" value="F0513A20BB712A5A52F4ACE1003A7CD1B1A36F37DA03FF04F74E10372508AFCD4F6DC2D6C20B4F94BA61A362DF800AE0BEE9DD8EDF36B4BB5B468624834D34EC5905C56CC1706BCED8667BA296AA603FA1EA786034F4A66A60AB700F4B4FF5C0B99B3A6CF7DD45249E8131FA7DBC81332381A7F13307323C692147D8009B74847C6BCB86833F49C261B847E063C5D77325F84524A7E07AF234048C38AB80B48F9A65458BC1A6D190" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>

  <system.web>

    <!--
    <customErrors mode="On" defaultRedirect="Error.html" >
      <error statusCode="404" redirect="404.htm" />
    </customErrors>
    -->

    <compilation debug="true" targetFramework="4.5" />
    <!-- 以下是需要你拷贝的配置-->
    <authentication mode="Forms">
      <forms name="test" loginUrl="http://54.251.159.201/usercenter-web/signin.html?siteid=2" defaultUrl="Index.aspx" protection="All" timeout="200" domain=".felink.com" />
    </authentication>
    <!--<machineKey validationKey="E1B6E67194CB32CA8D85B27E92100616D237EA7221951A82D5128541D98677ADD9375A45EC72D037E4C45A7E956AF3DD935E0988BA5E13B003BD3F5503FD5195" decryptionKey="D2C8D4024D312AD4DE735C81284CC31B5D0CE5664ED4C132" validation="SHA1"/>-->

    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="default.aspx" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--Ext.Net-->
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <!--接入simple的配置项-->
      <!--<add name="BaseModule" type="net91com.Security.BaseModule, net91com.Security, Version=1.1.0.0, Culture=neutral, PublicKeyToken=F16826D4B145F6BD"/>-->
      <!-- 以上是接入simple的配置项-->
    </modules>
        <directoryBrowse enabled="false" />
  </system.webServer>


</configuration>